body {
  background: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  width: 420px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
}

button {
  width: 100%;
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

li {
  margin-top: 10px;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.delete-btn {
  background: crimson;
  color: white;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 4px;
}
